@import "index.css";

.cite {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin: auto;
  margin: 2.5ch;
  padding: 1.5ch;
  border: 1px solid black;
  background-color: var(--gry);
  color: black;
  width: 70%;
  margin-inline: auto;
  border: 0.2rem solid rgba(0, 0, 0, 0.214);
  border-radius: 0.5rem 0.5rem 0 0;
  box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.586);
  font-size: clamp(1dvw, 1.5dvw, 2dvw);
  font-weight: 700;
}
.tomb {
  background-color: rgba(240, 248, 255, 0.736);
  color: black;
  height: fit-content;
  border-radius: 1.5rem;
  outline-offset: 12px solid rgba(0, 0, 0, 0.214);
  outline: 0.4rem solid rgba(0, 0, 0, 0.214);
  padding: 2ch;
  margin: 5ch 0;
  width: 90%;
}
.tombs {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  text-decoration: none;
  font-family: "cloister black", serif;
  font-size: clamp(2vw, 5vw, 10vw);
  color: black;
  justify-content: center;
  align-items: center;
  gap: 1ch;
}

.headstones {
  display: flex;
  flex-wrap: wrap;
  grid-template-rows: auto;
  gap: 1ch;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  margin: auto;
  padding: 2ch;
}

.big {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  color: var(--dkrd);
  /* width: fit-content; */
  max-width: 100px;
  font-size: clamp(2dvw, 3ch, 4dvw);
  font-weight: 700;
  padding: 0 3ch;
  border-radius: 10%;
  margin-top: 1ch;
  margin: auto;
}
.headstones {
  container-type: inline-size;
  container-name: headstones;
}
@container (width < 1280px) {
  .card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: fit-content;
    min-width: 100px;
    padding: 1ch;
    border-radius: 1.5rem;
    background-color: var(--gry);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 20px,
      rgba(0, 0, 0, 0.22) 0px 6px 6px;
    align-items: center;
    justify-content: center;
    margin: auto;
  }
}
a {
  background-color: black;
  color: var(--lgn);
  text-align: center;
  border-radius: 0;
}
a:hover {
  background-color: var(--gry);
  color: black;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

.other {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: fit-content;
  word-break: break-word;
  text-align: center;
  margin: 2ch;
  font-size: clamp(1dvw, 1.5dvw, 2dvw);
  text-align: center;
  margin: 1ch;
  padding: 0.5ch;
  color: black;
  font-weight: 700;
}
