@import "index.css";
.cite {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin: auto;
  margin: 2.5ch;
  padding: 1.5ch;
  border: 1px solid black;
  background-color: var(--gry);
  color: black;
  width: 40%;
  margin-inline: auto;
  border: 0.2rem solid rgba(0, 0, 0, 0.214);
  border-radius: 1.5rem 1.5rem 0 0;
  box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.586);
  font-size: clamp(2.5dvw, 1dvw, 1.5dvw);
  font-weight: 700;
}
.tomb {
  background-color: rgba(240, 248, 255, 0.736);
  color: black;
  height: fit-content;
  border-radius: 1.5rem;
  padding: 2ch;
}
