@import "index.css";
sub,
.sub,
.ack {
  font-size: x-small;
  color: rgba(181, 6, 0, 0.92);
}
body {
  width: 100%;
  margin: auto;
}
h1 {
  margin-top: 0px;
  padding: 0.5rem 1rem;
  border-radius: 5ch;
}
main {
  display: flex;
  flex-direction: column;
  width: calc(100% - 4ch);
  text-align: left;
  padding: 0 0;
  margin-top: auto;
  margin: auto;
}
pre {
  background-color: rgba(180, 176, 176, 0.6);
  text-align: center;
  padding: 2ch;
  border: 0.5ch solid rgb(132, 132, 132);
  border-radius: 1ch;
  box-shadow: rgba(185, 184, 184, 0.921) 0.5ch 0.5ch 0.5ch;
  margin-block: 1rem;
  margin: auto;
  width: 250px;
}
p::first-letter {
  font-weight: 600;
  font-size: 3ch;
}
.bottom {
  margin: 2ch 0;
}

a {
  /* position: relative;
  top: -100px;
  left: -120px; */
  background-color: black;
  color: var(--wht);
  text-align: center;
  border-radius: 3px;
  width: fit-content;
  padding: 10px;
}
a:hover {
  background-color: var(--gry);
  color: black;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

.sub-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-top: -10cqh;
}
/* footer {
  text-align: right;
  font-family: "Times New Roman", Times, serif;
  font-size: clamp(1.3dvh, 1dvh, 1.5dvh);
  color: var(--grn);
  margin: auto;
  margin-top: 2rem;
  padding: 1rem;
  border-top: 1px solid var(--grn);
} */
