@import "index.css";

h3 {
  font-size: 3rem;
  font-family: "Manorly", sans-serif;
  color: rgb(80, 25, 5);
  margin-top: 0;
  margin-bottom: 1rch;
  text-align: center;
}
h4 {
  margin-top: 2ch;
  margin-bottom: 0.5ch;
  font: 1em sans-serif;
}
a {
  text-decoration: none;
  color: rgb(215, 215, 7);
}
