@import "index.css";
h3 {
  font-family: "cloister black", Arial, sans-serif;
  font-size: 5rch;
  color: var(--dkrd);
}
.italic {
  font-style: italic;
  font-size: 2rch;
  padding-top: 1rch;
  margin-bottom: -6ch;
}
a,
.list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  text-decoration: none;
  color: var(--dkrd);
  background-color: inherit;
  font-family: Arial, sans-serif;
  font-size: 1.5rch;
}
.first::first-letter {
  font-family: "cloister black", Arial, sans-serif;
  font-size: 3rch;
  color: var(--dkrd);
}
.bdy {
  width: fit-content;
  background-color: inherit;
  color: var(--dkrd);
  font-family: Arial, sans-serif;
  font-size: 1.5rch;
  margin-bottom: 5ch;
}
#hill,
#ailbe,
#site,
#newtown {
  font-family: "cloister black", Arial, sans-serif;
  font-size: 3rch;
  color: var(--dkrd);
  margin-bottom: 2ch;
}
