@import "index.css";
.wrapper1 {
  display: grid;
  align-items: center;
  justify-content: center;
  font-family: "Times New Roman", Times, serif;
  font-size: 2.5rch;
  line-height: 1.5;
  word-spacing: normal;
  min-width: 80ch;
}
h3 {
  font-family: "cloister black", Arial, sans-serif;
  font-size: 5rch;
  color: var(--dkrd);
}
.italic {
  font-style: italic;
  font-size: 2rch;
  margin-bottom: -6ch;
}
.list a {
  display: inline-block;
  text-decoration: none;
  color: var(--dkrd);
  background-color: inherit;
  font-family: Arial, sans-serif;
  font-size: 1.5rch;
  color: var(--dkrd);
}
.first::first-letter {
  font-family: "cloister black", Arial, sans-serif;
  font-size: 3rch;
  color: var(--dkrd);
}
.bdy {
  width: fit-content;
  background-color: inherit;
  color: var(--dkrd);
  font-family: Arial, sans-serif;
  font-size: 1.5rch;
  margin-bottom: 2ch;
}
#hill,
#ailbe,
#site,
#newtown {
  font-family: "cloister black", Arial, sans-serif;
  font-size: 3rch;
  color: var(--dkrd);
  margin-bottom: 2ch;
}
