@import "index.css";

.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1ch;
  color: var(--dkrd);
  font-size: clamp(2dvw, 3dvw, 5dvw);
  font-weight: 700;
  text-decoration: underline;
}
.dropdown {
  display: flex;
  flex-wrap: wrap;
  gap: 1ch;
}
a {
  background-color: var(--dkrd);
  color: var(--yel);
  border-radius: 0;
  border: 1px solid var(--yel);
  padding: 0.5rem 1rem;
  margin: 1ch;
  font-family: "Times New Roman", Times, serif;
  text-decoration: none;
  transition: color 0.5s 0.3s;
}
